<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <target>System.out</target>
        <filter class="edu.ucdavis.dss.logging.LogbackStdOutFilter" />
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <target>System.err</target>
        <filter class="edu.ucdavis.dss.logging.LogbackStdErrFilter" />
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>email.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%date %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="edu.ucdavis.dss.ipa.Application" level="INFO" />

    <logger name="UpdateUsersTask" level="DEBUG" />

    <logger name="EmailUtility" level="INFO">
        <appender-ref ref="FILE" />
    </logger>

    <root level="WARN">
        <appender-ref ref="STDERR" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
